
.jumbotron {
    text-align: center;
   
}
.jumbo-header {
    font-family: 'Libre Baskerville', serif;
}
.time-label {
    padding-right: 20px;

}
#timer-text-area {
    resize: none;
}
.question-area {
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}
.button-area {
    list-style-type: none;
}
.results {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: large;

}